# Ignorar archivos y directorios generados por Visual Studio
obj/
bin/
.vs/

# Ignorar archivos de copia de seguridad de Visual Studio
*.bak
*.suo
*.user
*.sln.docstates

# Ignorar archivos .dll y .exe
*.dll
*.exe

# Ignorar archivos de paquetes NuGet
packages/

# Ignorar archivos de registro de errores
*.log
