<app-profile></app-profile>

<app-skills></app-skills>

<app-experiences></app-experiences>

<app-studies></app-studies>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-center">
      <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;Powered by myself</div>
      <div class="text-700 text-2xl mb-5">¿Do you want curriculum vitae in pdf format?</div>
      <button (click)="downloadCV()" pButton pRipple label="Download CV.pdf" icon="pi pi-discord" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
  </div>
</div>
